{% extends "template.html" %}
{% block head %}
	{{ super() }}
	<style>
		input {
			text-align: center;
		}
		textarea {
			height: 100px !important;
			resize: none;
		}
		.g-recaptcha {
			display: inline-block;
			margin-bottom: 10px;
		}
	</style>
	<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">Contact Me</h1>
			<form method="POST" action="">
				<div class="form-group">
					<h2 class="text-center">Name</h2>
					<input class="form-control input-lg" type="text" name="name" maxlength="25" required>
				</div>
				<div class="form-group">
					<h2 class="text-center">Email</h2>
					<input class="form-control input-lg" type="email" name="email" placeholder="Not Required" maxlength="50">
				</div>
				<div class="form-group">
					<h2 class="text-center">Message</h2>
					<textarea class="form-control" name="message" maxlength="500" required></textarea>
				</div>
				<!--<div class="text-center">
					<div class="g-recaptcha" data-sitekey="6LemECQTAAAAAJFGoj8dzDxkGGZ3buk4rnogxLhH"></div>
				</div>-->
				<div class="text-center">
					<button type="submit" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}