{% extends "template.html" %}
{% block head %}
	{{ super() }}
	<style>
		input {
			text-align: center;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="jumbotron">
			<div class="container">
				<h1 class="text-center">Login</h1>
				{% if userError %}
					<p class="text-danger text-center">Error: That username doesn't exist</p>
				{% endif %}
				{% if passError %}
					<p class="text-danger text-center">Error: The password didn't match with the username</p>
				{% endif %}
				<form method="POST" action="">
					<div class="form-group">
						<h2 class="text-center">Username </h2>
						<input class="form-control input-lg" pattern="[0-9A-Za-z_]{3,16}" title="You must use between 3 and 16 legal characters (0-9,a-z,A-Z and _)" type="text" name="username" required>
					</div>
					<div class="form-group">
						<h2 class="text-center">Password</h2>
						<input class="form-control input-lg" type="password" name="password" pattern="[-0-9A-Za-z!@#$%^&*_+=]{6,}" title="You must use more than 6 legal characters (0-9,a-z,A-Z and !@#$%^&*_-+=)" required>
					</div>
					<!--<div class="checkbox text-center">
						<h4><input type="checkbox" name="remember" value="true">Remember me</h4>
					</div>-->
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg">Login</button>
					</div>
				</form>
			</div>
		</div>
{% endblock %}